body, html {
  background: linear-gradient(to top, grey, white);
  height: 100%;
}
.titlepage {
  font-family: Apple Chancery, cursive;
  font-size: 150px;
  margin-top: -10px;
  text-align: center;
}
.paragraph {
  font-family: Apple Chancery, cursive;
  font-size: 75px;
  margin-top: -125px;
  text-align: center;
}
ul {
    background-color: gray;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -8px;
    padding: inherit;
    text-align: center;
}
a {
  border-radius: 10px;
  color: white;
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
}
.hover:hover {
    background-color: black;
}
li {
  display: inline-block;
  font-family: Luminari, fantasy;
  font-size: 50px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;

}
.about {
  font-size: 20px;
  text-align: center;
}
h1 {
  font-family: Apple Chancery, cursive;
  font-size: 50px;
  margin-top: -10px;
  text-align: center;
}
.image{
  display: inline-block;
  width: 100%;
}

.border {
display: inline-block;
width: 30%;
}
.right {
  float: right;
  margin-right: 25%;
}
