ul {
    background-color: black;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    font-size: 25px;
}

a li {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}
h1 {
  font-size: 60px;
  text-align: center;
}
